{{ define "main" }}
<main id="home">
  <section class="hero">
    <div class="container px-3 has-text-centered is-flex-center-vertial-childs">
      <img class="img-fluid fedoraloveskde" src="/fedoraloveskde.svg" />
      <h1 class="is-size-1">{{ i18n "title" }}</h1>
      <h1 class="is-size-3">{{ i18n "tagline" }}</h1>
      <h2 class="is-size-5 mt-3 small-container">{{ i18n "description" }}</h2>
      <div class="has-text-centered mt-4"><a href="https://akademy.kde.org" class="button is-primary">{{ i18n "akademy" }}</a></div>
    </div>
  </section>

  <section class="section">
    <div class="components">
      <a href="https://getfedora.org" class="product product-fedora">
        <h2 class="is-size-2">{{ i18n "fedora" }}</h2>
        <h3 class="has-text-centered">{{ i18n "fedora.description" }}</h3>
      </a>

      <h2>Choose Your Spin</h2>
      <a href="https://spins.fedoraproject.org/en/kde/" class="product product-plasma">
        <h2 class="is-size-1">{{ i18n "fedora.kde" }}</h2>
        <h3 class="">{{ i18n "fedora.kde.description" }}</h3>
       </a>
      <a href="https://conf.kde.org/event/1/contributions/42/" class="product product-applications">
        <div class="description ">
          <img src="https://avatars.githubusercontent.com/u/3730757?s=200&v=4" alt="">
          <h2 class="is-size-3">{{ i18n "fedora.kinoite" }}</h2>
          <h3>{{ i18n "fedora.kinoite.description" }}</h3>
        </div>
      </a>

      <h2>Why Fedora?</h2>
      <a href="https://fedoraproject.org/wiki/Changes/WaylandByDefaultForPlasma" class="product product-ostree">
        <div class="description ">
          <h2 class="is-size-3">{{ i18n "why.technology" }}</h2>
          <p class="">{{ i18n "why.technology.description" }}</p>
        </div>
      </a>
      <a href="https://rpm-software-management.github.io/" class="product product-dnf">
        <div class="description ">
          <img src="https://apps.kde.org/app-icons/org.kde.discover.svg" alt="">
          <h2 class="is-size-3">{{ i18n "why.package" }}</h2>
          <p class="">{{ i18n "why.package.description" }}</p>
        </div>
      </a>

      <a href="https://fedoraproject.org/wiki/SIGs/KDE" class="product product-fedora">
        <div class="description">
          <h2 class="has-text-centered is-size-2">{{ i18n "getinvolved" }}</h2>
          <h3 class="has-text-centered">{{ i18n "getinvolved.description" }}</h3>
        </div>
      </a>
    </div>
  </section>
</main>
{{ end }}
